
<div class="main">
<div class="idea">

<h2>فكرة الصندوق</h2>
<p>
مشروع قرض حسن یقتصر على العائلة فقط بحیث یقوم على مبدأ تكافلي خیري، یشارك
المساهمون بعدد أسهم اختیاري ، و تكون قیمة السهم الواحد ٥٠٠ ریال ، و لا یؤثر
عدد الأسهم في أولویة الاقتراض أو مبلغه
</p>
</div>
<div class="background">
<h2 class="title">صندوق القرض الحسن</h2>


 <%= form_tag "/shareholders/authenticate", method: :post do %>
 <%= label_tag :mobile, "أدخل المعرف الخاص بك هنا" %>
<%= text_field_tag :mobile %>
        <%= submit_tag "دخول" ,class: 'authenticate'%>
    <% end %>
</div>
<div>

<div class="use">

<h2>الفائدة المرجوة</h2>
<p>

التكاتف والتعاون بین أفراد العائلة في كل ما قد یعرض لأحدهم، و مساعدته في تجاوز ما
یعرض له من عقبات مادیة صغیرة أو كبیرة، دون حرج أو ضغط 
</p>
</div>
</div>
</div>



