/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  text-align: center;
  margin: 80px auto;
  color: #401d5c;
  font-family: "Cairo", sans-serif;
  /* background-color: #86ac41; */
  /* background-image: url("http://www.nestle-family.com/assets/images/ramdan-new-pattern-2.png?v=123"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
div.info {
  background: #e5e2df;
  /* padding: 10px; */
  width: 400px;
  height: 400px;

  justify-content: center;
}
div.main {
  margin: 200px auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: center; */
  justify-content: space-around;
}
div.idea {
  background: #e5e2df;
  width: 300px;
  margin-right: 2%;
  height: 300px;
  background-color: #d1d582;
  padding: 20px;
  /* transform: rotate(50deg); */
}

div.use {
  background: #e5e2df;
  margin-left: 4%;
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #d1d582;
  /* transform: rotate(50deg); */
}
div.use > h2,
div.use > p {
  /* transform: rotate(-50deg); */
}
h2 > a {
  font-size: 40px;
}
div.background {
  background: #e5e2df;

  padding: 2%;
  /* padding-bottom: 58px; */
  /* width: 700px; */
  /* position: absolute; */
  /* left: 350px;
  top: 200px; */
  /* height: 100vh; */
}
a {
  color: #401d5c;
  text-decoration: none;
}
nav {
  background: #68a1ae;
  color: #f8f8ff;
  height: 80px;
  line-height: 80px;
  display: flex;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px #68a1ae;
}

nav a,
nav span {
  flex-grow: 1;
  color: #f8f8ff;
  background: #68a1ae;
  transition: all 0.3s;
}

nav a:hover,
nav span:hover {
  background: #f8f8ff;
  color: #16161d;
}
/*
nav {
  position: absolute;
  background-color: #68a1ae;
  display: flex;
  /* justify-content: space-between; */

/* align-items: stretch; 
} */
img.decoration-right {
  width: 315px;
  height: 490px;
  position: absolute;
  right: 20px;
  top: 130px;
}
img.decoration-left {
  width: 315px;
  height: 490px;
  position: absolute;
  top: 140px;
  left: 20px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #68a1ae;
  color: black;
  text-align: center;
}
.approve {
  display: inline;
}
input.approve {
  background: #d2d58b;
  padding: 5px;
  margin-left: 5px;
}
label {
  display: block;
}
div > input {
  padding: 10px 70px;
}
form > div {
  padding: 10px 0;
}
form > input {
  background: #d2d58b;
  padding: 10px 85px;
}

footer > a {
  padding: 10px 30px;
}
/*
nav > a {
  color: #401d5c;

  text-decoration: none;

  padding: 10px;
  font-size: 20px;
}
nav > a:hover {
  background-color: #401d5c7e;
  color: #e5e2df;
} */
.title {
  font-family: "Reem Kufi", sans-serif;
  color: #401d5c;
  font-size: 70px;
}
#mobile {
  display: block;
  margin: 2% auto;
  /* height: 10%; */
  padding: 10px 25px;
  background: whitesmoke;
}
.authenticate {
  background: #d2d58b;
  padding: 10px 60px;
}
.home {
  padding: 5% 10% 0px 10%;
  /* padding-bottom: 15%; */
}

.container {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #68a1ae;
  text-align: left;
  padding: 8px;
}
th {
  background: #68a1ae;
}
tr:nth-child(even) {
  border: 1px solid #68a1ae;
}

/* .gender-chart {
  width: 40%;
} */
@media only screen and (max-width: 760px) {
  .title {
    font-size: 35px;
  }
  div.info {
    width: 300px;
    height: 300px;
  }
  h2 > a {
    font-size: 20px;
  }
  div#chart-1 {
    margin-top: 3%;
    height: 300px !important;
    width: 300px !important;
  }
  div.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  div.background {
    order: -1;
    height: 300px;
    width: 300px;
    margin: 2%;
  }
  div.idea {
    margin: 2%;
  }
  div.use {
    margin: 2%;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .home {
    padding: 10%;
    padding-bottom: 85%;
  }
  .name {
    background: #68a1ae;
  }
  .approve {
    display: inline;
  }
  table,
  tbody,
  td,
  tr {
    display: block;
  }
  th {
    display: none;
  }
  td:nth-of-type(1):before {
    content: " Name: ";
  }
  td:nth-of-type(2):before {
    content: "Deposit: ";
  }
  td:nth-of-type(3):before {
    content: "Mobile: ";
  }
  td:nth-of-type(4):before {
    content: "IBAN: ";
  }
  td:nth-of-type(5):before {
    content: "Gender: ";
  }
  td:nth-of-type(6):before {
    content: "Modify: ";
  }
}
