<div class="home">

<h2>فكرة الصندوق</h2>
<p>
مشروع قرض حسن یقتصر على العائلة فقط بحیث یقوم على مبدأ تكافلي خیري، یشارك
المساهمون بعدد أسهم اختیاري ، و تكون قیمة السهم الواحد (*500 (*ریال ، و لا یفرق
عدد الأسهم في أولویة الاقتراض أو مبلغه
</p>
<h2>الفائدة المرجوة</h2>
<p>

التكاتف والتعاون بین أفراد العائلة في كل ما قد یعرض لأحدهم، و مساعدته في تجاوز ما
یعرض له. عقبات مادیة صغیرة أو كبیرة، دون حرج أو ضغط.
*التوصیات:
بعد طرح الفكرة و استحسانها من الجمیع
</p>
</div>